<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macro Counter</title>
</head>

<body>
    <h1>Welcome to the Macro Counter</h1>
    <p>This is a site where you can count your macro nutrients: protein, carbs, and fat.</p>
    <a href="/ingredients">Browse All Ingredients</a>
</body>

</html>